@model DetailViewModel

@{
}

<div>
    <div class="row">
        
        <div class="col pt-4">
            <img src="@Html.DisplayFor(model => model.ImagePath)" alt="Event Image" width="600px"/>
        </div>

        <div class="col">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td colspan="2" class="h2">Fast event 1</td>
                    </tr>
                    <tr>
                        <th>Category</th>
                        <td>Techno party</td>
                    </tr>
                    <tr>
                        <th>Places</th>
                        <td>60/200</td>
                    </tr>
                    <tr>
                        <th>Location</th>
                        <td>
                            <a href="@Html.DisplayFor(model => model.GoogleMapLink)" target="_blank">
                                1 Rue Voltaire, 94270, Le Kremlin Bicetre
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>04/09/2021</td>
                    </tr>
                    @if (Model.IsOwner)
                    {
                        <tr>
                            <th>Event Id</th>
                            <td>132564897532</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="card m-4">
        <div class="card-body">
            <h5 class="card-title">
                Description
            </h5>
            <p class="card-text">
                This event is a special techno party to have fun and listen to techno. The most famous DJs will be here, comme check it out it's free. We hope to see you there !
            </p>
        </div>
    </div>
    
    @if (Model.IsOwner)
    {
        <form method="post" class="text-right">
            <button class="btn btn-light btn-md m-2" asp-action="CreateOrEdit" asp-route-eventId="@Model.EventId">
                Edit Event
            </button>
            <button type="button" class="btn btn-danger btn-md m-2" data-toggle="modal" data-target="#cancelEventModal">
                Cancel Event
            </button>
        </form>
            
        <div class="modal fade" id="cancelEventModal" tabindex="-1" role="dialog" aria-labelledby="cancelEventModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="cancelEventModalLabel">Cancel Event</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to cancel this event ?
                        This will remove the event and nobody will be able to see it anymore.
                    </div>
                    <form method="post" class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            No
                        </button>
                        <button class="btn btn-primary" asp-controller="Home" asp-action="Index">
                            Yes, cancel the event
                        </button>
                    </form>
                </div>
            </div>
        </div>
    }
    
    <form class="text-center mt-2" method="post">
        <button class="btn btn-primary btn-lg" asp-controller="Home" asp-action="GenerateAndDownloadQrCode">
            Order and Download my ticket
        </button>
    </form>

</div>