@model DetailViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: relative">
        <div class="dropdown m-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filtre
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button class="dropdown-item">Techno</button>
                <button class="dropdown-item">Classic</button>
                <button class="dropdown-item">Visit</button>
            </div>
        </div>

        <div class="dropdown m-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Name</a>
                <a class="dropdown-item" href="#">Organizer</a>
                <a class="dropdown-item" href="#">Date</a>
            </div>
        </div>

        <div class="form-check m-2">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Owned events
            </label>
        </div>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <div style="position: absolute; right: 10px">
            <button class="btn btn-outline-success my-2 my-sm-0" style="margin: 10px">My tickets</button>

            <button class="btn btn-outline-success my-2 my-sm-0" style="margin: 10px">Create an event</button>
        </div>
    </nav>

    <div class="border mt-2" style="display: flex; flex-direction: row; position: relative">
        <div class="p-2" style="position: relative">
            @if (true) // A remplacer par if (nbplace = max)
            {
                <img src="..\Resources\Images\event_place_holder.jpg" style="filter: grayscale()" alt="Event Image" width="300px"/>
                <span style="color: red; font-size: 4rem; font-weight: bold; position: absolute; left: 28%; top: 20%">FULL</span>
            }
            else
            {
                <img src="..\Resources\Images\event_place_holder.jpg" alt="Event Image" width="300px" />
            }
        </div>

        <div class="ml-2">
            <h2>Fast event 1</h2>
            <h5>Organiser</h5>
            <h5>Date</h5>
            <h5>Places</h5>
            <h5>Category</h5>
        </div>

        <div style="position: absolute; right: 10px; top: 40%">
            <button class="btn btn-outline-success">Go to event</button>
        </div>
    </div>

    <div class="border mt-2" style="display: flex; flex-direction: row; position: relative">
        <div class="p-2">
            <img src="..\Resources\Images\event_place_holder.jpg" alt="Event Image" width="300px" />
        </div>

        <div class="ml-2">
            <h2>Fast event 1</h2>
            <h5>Organiser</h5>
            <h5>Date</h5>
            <h5>Places</h5>
            <h5>Category</h5>
        </div>

        <div style="position: absolute; right: 10px; top: 40%">
            <button class="btn btn-outline-success">Go to event</button>
        </div>
    </div>

    <div class="border mt-2" style="display: flex; flex-direction: row; position: relative">
        <div class="p-2">
            <img src="..\Resources\Images\event_place_holder.jpg" alt="Event Image" width="300px" />
        </div>

        <div class="ml-2">
            <h2>Fast event 1</h2>
            <h5>Organiser</h5>
            <h5>Date</h5>
            <h5>Places</h5>
            <h5>Category</h5>
        </div>

        <div style="position: absolute; right: 10px; top: 40%">
            <button class="btn btn-outline-success">Go to event</button>
        </div>
    </div>

    <div class="border mt-2" style="display: flex; flex-direction: row; position: relative">
        <div class="p-2">
            <img src="..\Resources\Images\event_place_holder.jpg" alt="Event Image" width="300px" />
        </div>

        <div class="ml-2">
            <h2>Fast event 1</h2>
            <h5>Organiser</h5>
            <h5>Date</h5>
            <h5>Places</h5>
            <h5>Category</h5>
        </div>

        <div style="position: absolute; right: 10px; top: 40%">
            <button class="btn btn-outline-success">Go to event</button>
        </div>
    </div>
</div>