@using FastEvents.Controllers
@model TicketsViewModel

@{
}

<div>
    @foreach (var ticket in Model.Tickets)
    {
        <div class="card">
            <div class="row card-body">
                
                <a class="col" asp-action="DownloadQrCode" asp-route-qrCodeFilename="1.jpg">
                    <img src="/Resources/Images/qr_code.png" alt="QR Code" width="200px">
                </a>
                
                <div class="col">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td colspan="2" class="h2">Fast event 1</td>
                            </tr>
                            <tr>
                                <th>Date</th>
                                <td>04/09/2021</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <button class="btn btn-primary btn-md">Go to event page</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <button class="btn btn-danger btn-lg m-4" data-toggle="modal" data-target="#cancelReservationModal">Cancel my reservation</button>
                <div class="modal fade" id="cancelReservationModal" tabindex="-1" role="dialog" aria-labelledby="cancelReservationModal" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="cancelReservationModalLabel">Cancel Reservation</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to cancel your reservation ?
                                        Your QR code will no longer be usable.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                        <button type="button" class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Yes, cancel my reservation</button>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    }
</div>