# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.FastEvents.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Code\C#\dotnet\fast-events\Fast_Events\.idea\.idea.FastEvents\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
